body {
	background-color: #CCCCCC;
	font-family: 'Trebuchet MS', sans-serif;
}

a {
	text-decoration:none;
	color:gray;
}

#container {
	background-color: white;
	color: #535353;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	
}

#h1, h2, h3{
	margin:0;
}
#header {
	height:100px;
	background-color: #bd0f5d;
	color: GhostWhite;
	text-align: center;
}
#content {
	padding: 10px;
}
#nav {
	width:190px;
	float: left;
	background-color: #000000;
	color: gray;
	margin: 0 0 10 0px;
}
#nav ul{
	list-style-type: none;
	padding:0;

}
#nav .selected {
	font-weight:bold;
	color:White;
}
#main{
	width:600px;
	float: left;
	margin-left:10px;
}
#footer{
	clear:both;
	padding:10px;
	background-color:#bd0f5d;
	color:GhostWhite;
	text-align:center;
}
